<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>GPS Data List</h1>

    <table>
        <thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in gps_data %}
            <tr>
                <td>{{ data.latitude }}</td>
                <td>{{ data.longitude }}</td>
                <td>{{ data.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>