<!DOCTYPE html>
<html>
<head>
    <title>GPS Data</title>
</head>
<body>
    <h1>device_name</h1>
    <table>
        <thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in gps_devices %}
            <tr>
                <td>{{ data.latitude }}</td>
                <td>{{ data.longitude }}</td>
                <td>{{ data.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
